@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    /* animation: none; */
    /* padding-top: 10px; */
    /* overflow-y: hidden; */
}

.main__window {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 750px;
    /* background-color: rgb(29, 29, 29); */
    border-radius: 10px;
    border: none;
}

@keyframes easier {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input {
    display: block;
    margin: auto;
    width: 90%;
    min-width: 100%;
    background-color: rgba(47, 47, 47, 0.952);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 18px, rgba(0, 0, 0, 0.22) 0px 7.5px 6px;
    color: rgb(194, 194, 194);
    height: 50px;
    border: none;
    text-indent: 10px;
    font-size: 19px;
    /* animation: easier 0.5s; */
    background-image: url("./assets/search_icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 98% center;
    outline: 0;
    border: none !important;
}

.results {
    display: none;
    margin-left: 2px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(47, 47, 47, 0.952);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 18px, rgba(0, 0, 0, 0.22) 0px 7.5px 6px;
    padding-bottom: 30px;
    animation: easier 0.5s;
    max-height: 340px;
    overflow-y: scroll !important;
}

hr {
    width: 90%;
    background-color: rgb(81, 81, 81);
    border: none;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.results h2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: rgb(187, 187, 187);
}

.results h2,
h3 {
    text-align: center;
    margin: 0;
}

.results .browser_header {
    margin-top: 20px !important;
}

.results li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.results .error,
.no-def-error {
    width: 100%;
    color: gray;
    text-align: center;
    display: block;
    margin: auto;
}

.quick__results {
    margin-bottom: 30px;
    padding-bottom: 30px;
    max-height: 200px;
    overflow-y: scroll !important;
}

.titlebar {
    -webkit-app-region: drag;
    background-color: rgba(34, 34, 34, 0);
}

.meaning {
    width: 90%;
    text-align: center;
    margin: auto;
}

.term {
    margin: 0;
}

.search_result_li {
    height: 50px;
    display: flex;
    flex-direction: row !important;
    width: 96%;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 200ms ease-in-out;
}

.search_result_li:focus {
    outline: none;
    background-color: rgb(29, 29, 29);
}

.search_result_li a {
    border-radius: 10px;
}

.search_result_li:hover {
    background-color: rgb(29, 29, 29);
    transition: 200ms ease-in-out;
}

.search_result_li img {
    width: 80px;
    object-fit: contain;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.search_result_div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: fit-content;
    width: min-content;
}

.search_result_div h3 {
    margin: 0 !important;
    text-align: left !important;
}

.search_result_li span {
    width: 602px;
    max-width: 502px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    border-radius: 10px;
}

.browser__results {
    overflow-x: hidden;
}

.loader {
    display: block;
    margin: auto;
    width: 60px;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(81, 81, 81);
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

a:link {
    color: rgb(0, 187, 255);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 187, 255);
    background-color: transparent;
    text-decoration: none;
}

.weather_results {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    transform: translateX(-25px);
    height: fit-content;
}

.weather_icon {
    width: 150px;
    margin: 0;
    /* object-fit: contain; */
    /* height: 100px; */
}

.weather_info {
    display: flex;
    justify-content: left !important;
    align-items: flex-start;
    flex-direction: column;
}

.weather_info h2,
h3 {
    margin: 0;
}

.results .credits {
    font-size: 13px !important;
    text-align: center !important;
    display: block !important;
}

.eval_err {
    font-size: 22px !important;
    color: white !important;
}