@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    text-align: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

div.container {
    width: 80%;
    position: absolute;
    left: calc(50% - 40%);
    box-shadow: 0px 0px 5px 0px #666;
    border-radius: 10px;
    top: 10px;
}

input#search {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #444444;
    border-radius: 10px;
    outline: none;
    font-size: 24px;
    color: #ffffff;
    border: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: 'Poppins', sans-serif;
}

div.searchbar {
    height: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #2b2b2b;
    border-radius: 10px;
    position: relative;
}

div.searchbar.results {
    border-bottom: 0;
}

ul#results {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-top: 0px;
    background: #fff;
    display: none;
    border-radius: 0px 0px 10px 10px;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    padding-top: 10px;
    text-align: center;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

ul#results::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

ul#results::-webkit-scrollbar-track {
    background-color: transparent;
}

ul#results::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, .5);
}

ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 20px;
    list-style: none;
    text-align: left;
    color: #34495e;
    cursor: pointer;
    position: relative;
}

ul li h4 {
    margin: 0;
}

ul li.selected,
ul li:hover {
    background: #CCC;
}

ul li.error {
    font-size: 18px;
    background: #A92323;
    color: #fff;
}

/** Result types **/
ul li::after {
    content: attr(data-type);
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    background: #069;
    font-weight: bold;
}

ul li.terminal::after {
    content: "Terminal";
    background: #34495e;
}

ul li.history::after {
    content: "History";
    background: #CCC;
    color: #444;
}

ul li.dir::after {
    content: "Directory";
    background: #16a085;
}

ul li.file::after {
    content: "File";
    background: #ecf0f1;
    color: #444;
}

ul li.bing::after {
    content: "Bing";
    background: #ffb900;
}

ul li.google::after {
    content: "Google";
    background: #d35400;
}

ul li.quora::after {
    content: "Quora";
    background: #c0392b;
}

ul li.app::after {
    content: "App";
    background: #2ecc71;
}

ul li.setting::after {
    content: "Setting";
    background: #8e44ad;
}

ul li.config::after {
    content: "Configuration";
    background: #1abc9c;
}

ul li.text::after,
ul li.error::after {
    padding: 0;
    display: none;
}

ul li.text.selected,
ul li.text:hover,
ul li.error.selected,
ul li.error:hover {
    background: inherit;
}