@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    animation: none;
    /* padding-top: 10px; */
}

.main__window {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 650px;
    /* background-color: rgb(29, 29, 29); */
    border-radius: 10px;
    border: none;
}

@keyframes easier {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input {
    display: block;
    margin: auto;
    width: 95%;
    min-width: 100%;
    background-color: rgba(47, 47, 47, 0.952);
    border-radius: 10px;
    /* box-shadow: 4px 4px 10px rgb(29, 29, 29); */
    box-shadow: 4px 4px 4px rgb(45, 45, 45);
    color: white;
    height: 50px;
    border: none;
    outline: none;
    text-indent: 10px;
    font-size: 19px;
    animation: easier 0.5s;
    background-image: url("./assets/search_icon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 98% center;
    outline: 0;
    border: none !important;
}

.results {
    display: block;
    margin-left: 2px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(47, 47, 47, 0.952);
    color: white;
    box-shadow: 4px 4px 4px rgb(45, 45, 45);
    padding-bottom: 30px;
    animation: easier 0.5s;
}

hr {
    width: 90%;
    background-color: rgb(81, 81, 81);
    border: none;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.results h3 {
    text-align: center;
}

.results li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.results .error {
    width: 100%;
    color: gray;
    text-align: center;
    display: block;
    margin: auto;
}

.quick__results {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.titlebar {
    -webkit-app-region: drag;
    background-color: rgba(34, 34, 34, 0);
}

.meaning {
    width: 90%;
    text-align: center;
    margin: auto;
}

.term {
    margin: 0;
}

.search_result_li {
    height: 50px;
    display: flex;
    flex-direction: row !important;
    width: fit-content;
    align-items: center;
    padding: 10px 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
}

.search_result_li:hover {
    background-color: rgb(29, 29, 29);
}

.search_result_li img {
    width: 80px;
    object-fit: contain;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.search_result_div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: fit-content;
    width: min-content;
}

.search_result_div h3 {
    margin: 0 !important;
    text-align: left !important;
}

.search_result_div p {
    width: 502px;
    max-width: 502px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.browser__results {
    overflow-x: hidden;
}

.loader {
    display: block;
    margin: auto;
    width: 60px;
}